/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Lobster&display=swap');

/* Color Definitions */
:root {
    --color-main: #264653;
    --color-secondary: #2a9d8f;
    --color-tertiary: #e9c46a;
    --color-quad: #fa8536;
    --shadow: #e76f51;

}

html {
    font-size: 16px;
    margin: 10px;
    padding: 100px;
    background-color: #32161F;
}

body{
    margin: 0em 1vw;
    box-shadow: var(--shadow) .5em .5em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

header,
footer {
    background-color: var(--color-main);
    padding: 0em 2em;
    color: var(--color-tertiary);
}

header {
    max-height: 10em;
    width: auto;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
}

h1 {
    font-size: 3.052em;
    line-height: 3em;
    display: inline-block;
    margin: 0em;
}

header img {
    float: right;
    margin-top: 2.5em;
    border-radius: 2em;
    box-shadow: var(--shadow) .5em .5em;
}

main {
    background-color: var(--color-tertiary);
    min-height: 30vh;
    padding: 1.5em 2em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

main h2 {
    margin: 0em;
    color: var(--color-main);
    font-size: 2.441em;
    line-height: 2em;
    font-weight: 900;
}

main hr {
    background-color: var(--color-main);
    height: .5em;
    border-radius: .5em;
}

main p,
main ul {
    font-size: 1.25em;
    font-weight: 800;
    color: var(--color-main);
}

main ul li a {
    color: var(--color-quad);
    padding-left: .25em;
}

main ul li a:hover {
    color: var(--color-secondary);
    padding-left: .25em;
}


footer {
    margin: 0em;
    padding: 1em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

footer a {
    color: var(--color-secondary);
}
footer a:hover {
    color: white;
}