@media only screen and (min-width: 60em) {
    main {
        margin: 0 auto;
        font-size: 16px;
        font-family: 'monospace'monospace;
        width: 60%;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    section {
        display: grid;
        overflow: hidden;
    }

    .cards section img {
        width: 90%;
        height: 300px;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .star {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 35px;
        text-align: center;
    }

    .starimg {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        box-shadow: 5px 5px 5px rgb(69, 71, 73);
    }

    .sectdiv {
        grid-template-columns: 1fr;
    }

    .secdiv img {
        width: 200px;
        width: 80%;
    }

    img {
        width: 80%;
    }
    
    header img {
        width: 100px;
    }

    .headings h1 {
        font-size: 3rem;
    }

    .iconH4 {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }

    nav ul {
        display: flex;
    }

    .navigation {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav a {
        font-size: 1rem;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    footer {
        width: 60%;
    }
}