@media only screen and (min-width: 34.5em) {
    .footer {
        width: 90%;
    }

    .cards {
        grid-gap: 15px;
    }

    main {
        width: 80%;
    }

    section:nth-child(odd) {
        flex-direction: row-reverse;
    }

    section {
        display: flex;
        flex-direction: row;
        text-align: center;
        overflow: hidden;
    }

    img {
        width: 50%;
    }

    .star {
        margin-bottom: 30px;
        text-align: center;
    }

    .secdtdiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sectdiv img {
        width: 70%;
        overflow: hidden;
    }

    .display {
        margin-bottom: 20px;
    }
}